* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 2em;
    display: flex;
}

.img-container {
    position: relative;
    width: 800px;
}

img {
    width: 800px;
    height: 500px;
    object-fit: cover;
}

#arrow-top {
    position: absolute;
    left: 50%;
    background-color: lightgrey;
    border-radius: 50%;
    padding: 5px;

    z-index: 3;
}

#arrow-bottom {
    position: absolute;
    left: 50%;
    bottom: 5px;
    background-color: lightgrey;

    border-radius: 50%;
    padding: 5px;

    z-index: 3;
    
}

#aside {
    position: relative;
}

.littleimg {
    height: 100px;
    width: 300px;

    display: block;
    opacity: 0.5;
}

.active {
    border: 2px solid white;
    opacity: 1;
} 
